<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>1337Hosting</title>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <nav>
      <div id="upload">
        Upload <div id="upload-icon"></div>
      </div>
      <div class="row-wide flex-contain">
        <div class="menu-item float-left">1337Hosting</div>
        <div class="menu-item">
          <ul class="float-li-right social">
            <li><a href="#"><img src="./imgs/social/Twitter.png" alt="" /></a></li>
            <li><a href="#"><img src="./imgs/social/Twitch.png" alt="" /></a></li>
            <li><a href="#"><img src="./imgs/social/Twitch.png" alt="" /></a></li>
          </ul>
      </div>
      </div>
    </nav>
    <header>

    </header>
    <div class="main-body" style="height: 1400px;">

    </div>
  </body>
</html>
